<section>
    <h1>Students</h1>
    <p>
        <a href="<%= Routes.student_path @conn, :new %>">&#x2795; New</a>
    </p>
    <ul>
        <%= for student <- @students do %>
        <li>
            <a href="<%= Routes.student_path @conn, :show, student.id %>">
                <strong><%= student.name %></strong>, <%= student.login %>, <%= student.points %> pts.
            </a>
            <%= link "\u274C", to: Routes.student_path(@conn, :delete, student.id), method: :delete %>
        </li>
        <% end %>
    </ul>
</section>