<p>
    <a href="<%= Routes.student_path @conn, :index %>">&#x25C0; back</a>
</p>

<h1>
    <%= if @student.name do %>
        <%= @student.name %>
    <% else %>
        New
    <% end %>
</h1>

<%= form_for @changeset, @action, fn f -> %>
    <label>
        Login: <%= text_input f, :login %>
    </label>
    <label>
        Name: <%= text_input f, :name %>
    </label>
    <label>
        Points: <%= number_input f, :points %>
    </label>
    <%= submit "Save \u{1F4BE}" %>
<% end %>